body,html{
  background-color: #f5f5f5;
  font-family : 'Source Sans Pro', sans-serif;
}
/*image*/
.harsha-jpg {
              border: 1px solid #333;
              width: 200px;
              height: auto;
}
.box {
        text-align: center;
}
.links {
        text-align: center;
        padding: 4px;
        margin: 6px;
        display: flex;
}
.links > * {
  margin : 20px;
}

.h11 {
      text-align: center;
      text-decoration: underline;
}
.body-harsha {
              box-shadow: 0 1px 1px 3px #888;
              padding : 20px;
              background : white;
              margin : 40px auto;
              box-sizing: border-box;
              max-width : 800px;
              width : 100%;
}
.body-harsha header{
  display: flex;
}
