
/*image*/
.harsha-jpg {
              border: solid black 4px;
              width: 200px;
              height: 200px;
              border-radius: 50%
}
.box {
        text-align: center;
}
.links {
        text-align: center;
        padding: 4px;
        margin: 6px;
        font-size: 50px;
}
.facebook {
          text-align: center;
}
.h11 {
      text-align: center;
      text-decoration: underline;
}
.body-harsha {
              background-color: black;
              color: white;
}
